.BoardMenuExtras{

    .Qrcode{margin: 10px;}

    Button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 15px;
        margin: 0px 10px 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        width: 170px;
      }

}