.Card{
    float:left;
    height: calc(20% - 6px);
    width: calc(20% - 6px);
    margin:3px;

    text-align: center;
    background-color: #FFDA8D;
    
    border-radius: 5px;
    text-transform: capitalize;
 
    div:first-child{
        transform: rotate(180deg);
        background-color: #F7DFAE;
        background-color: #FFFFFF5E;
        border-radius: 10px;
        width:80%;
        margin: 5px auto;
        height: 50%;
    }
}