.SpyMasterTypeGrid{

    width: 100%;

    div{
        height: 200px;
        width: 48%;
        float: left;
    }

    ul{
        padding: 3px;
        margin: 0px;

        li{
            list-style-type:none;
        }
    }
}